@use "sass:map";
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@700&family=Noto+Serif&family=Poppins:wght@400;500;700&display=swap');
$fontAbhaya: 'Abhaya Libre', serif;
$fontPoppins:'Poppins', sans-serif;
$fontNoto: 'Noto Serif', serif;
$bgcolortheme:rgba(244, 236, 232, 1);
$colorOrange:#F39200;

$font: (
  "abhaya": $fontAbhaya,
  "poppins": $fontPoppins,
  "noto": $fontNoto,
);
@mixin clearfix{
  content: '';
  clear: both;
  display: table;
};
@mixin font($fontfamily,$fsize,$fweight:400) {
  $ffamily: map.get($font,  $fontfamily);
  font-family: $ffamily;
  font-weight: $fweight;
  font-size: #{$fsize}px;
};
@mixin container{
  max-width: 1440px;
  width: 95%;
  margin: 0 auto;
};
@mixin all{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
};